@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');


.container-fluid_1 {
    height: 646px;
    width: 100%;
    background-color: #FCFCFF;
}

.container-fluid_2 {
    margin-top: -100px;
    height: 646px;
    width: 100%;
    background-color: #7510F7;
    color: #fcfcff;
}

.container-fluid_3 {
    height: 646px;
    width: 100%;
    background-color: #fcfcff;
}

.container.box-1 {
    width: 95%;
    height: 100%;
    margin: 0,auto;
    background-color: #FCFCFF;
    padding: 0;
}

.container.box-3 {
    position:absolute;
    margin-top: -150px;
    height: 100%;
    width: 95%;
    left:0;
    right:0;

}

nav {
    width: 100%;
    height: 115px;
    background-color: #FCFCFF;
}

.navbar-brand {
    font-family: 'Smooch', cursive;
    font-size: 3rem;
    color: #7510F7;
}

a {
    text-decoration: none;
}
a.rounded-pill {
    color: #7510F7;
    font-size: 18px;
    font-weight: 500;
    border: 2px solid #7510F7;
    padding: 6px 18px;
}

a.rounded-pill:hover {
    color: #ffffff;
    background-color: #7510F7;
}

main {
    width: 100%;
    height: 100%;
    padding-top: 5.2rem;
}

h1.row {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 44px;
    color: #141C3A;
}

h2.row {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #FCFCFF;

}

p.row.d-flex {
    padding-top: 20px;
    font-size: 1.35rem;
    color: #141C3A;
}

.avatar img {
    width: 550px;
    border-radius: 15%;
}

.intro {
    padding-top: 200px;
}

.card {
   width: 100%;
   min-height: 90%;
   border-radius: 20px;
   box-shadow: 1px 2px 5px #c5c4c4;
}

.story p {
    padding: 0 6rem;
    font-size: 1.2rem;
}

.card-body img {
    min-height: 80px;
    width: 140px;
}

h3.tech-title {
    font-family: 'Lato', sans-serif;
    padding-top: 1.3rem;
    font-size: 1.4rem;
    font-weight: 500;
}

p.tech-intro {
    padding: 3% 20%;
    font-size: large;
}

p.tech-intro-2 {
    padding: 3% 20% 1% 20%;
    font-size: larger;
    font-weight: 600;
    color: #7510F7;
}



